
<!-- <table>
    <tbody>
        <tr *ngFor="let item of categories">
            <ng-container *ngIf="item.parentCategory == null">
            <td>{{item.categoryName}} </td>
        </ng-container>
        </tr>
    </tbody>
</table> -->

<div>
    <div class="">
        <ul class="list-unstyled card shadow col-sm-2">
            <div class="text-uppercase">Top Categories</div>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
