<!-- <div class="headerBar">
    <section class="headerLine">
        <span class="">Brand Waali Quality, Bazaar Waali Deal!</span>
        <span class="">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </span>
    </section>
    <div class="nav-container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="#">
                    <img src="../../assets/Snapdeal.png" alt="" width="133" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex search-box-wrapper">
                        <input class="col-xs-20 search-from-input keyword" type="search" placeholder="Search products & brands" autocomplete="off" aria-label="Search">
                        <button class="btn btn-dark my-auto srchBtn" type="submit"><span><em class="fa-regular fa-magnifying-glass"></em></span>
                            Search</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div> -->

<div class="headerBar">
    <div class="topSection d-flex">
        <div class="me-auto">
            <span class="">Brand Waali Quality, Bazaar Waali Deal!</span>
        </div>
        <div class="scndHead">
            <span>Impact@Snapdeal</span>
            <span>Gift Cards</span>
            <span>Help Center</span>
            <span>Sell On Snapdeal</span>
            <span><em class="fa fa-mobile pe-2"></em>Download App</span>
        </div>
    </div>
    <section class="nav-container">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../../assets/Snapdeal.png" alt="" width="133" height="30">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex search-box-wrapper">
                            <input class="col-xs-20 searchFromInput" type="search"
                                placeholder="Search products & brands" autocomplete="off" aria-label="Search">
                            <button class="btn btn-dark my-auto srchBtn px-5 py-1" type="submit">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg></span>
                                Search</button>
                            </div>
                        </div>
                        <div class="ms-auto icn d-flex">
                            <div class="cart p-2 px-4">
                                <span>Cart
                                </span>
                                <span class="mx-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </span>
                            </div>
                            <div class="d-flex p-2 px-4 signIn dropdown ">
                                <a class="text-decoration-none text-white dropdown-toggle "  data-bs-hover="dropdown" aria-expanded="false" href="">Sign In</a>
                                <div class="ms-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </div>
                                <div class="dropdown-menu">
                                    <div class="accountDrpdwn px-2">
                                        <ul class="px-3 py-2 list-unstyled" >
                                            <li>
                                                <a href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-person me-1" viewBox="0 0 16 16">
                                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                                    </svg>
                                                Your Accounts
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-box-seam me-1" viewBox="0 0 16 16">
                                                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                                                    </svg>
                                                Your Orders
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-heart me-1" viewBox="0 0 16 16">
                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                    </svg>
                                                Shortlist
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr class="dropdown-divider">
                                    <div class="text-center">
                                        <p class="loginUser">
                                            <span>If you are a new user</span> 
                                        </p>
                                        <span class="newUserRegister">Register</span>
                                        <span class="btn loginBtn m-2 mx-3" type="button" (click)="open()">
                                            <a href="">LOGIN</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </nav>
        </div>
    </section>
</div>