* {
    -webkit-font-smoothing: subpixel-antialiased;
} 


/* **********************Header************** */
.headerBar {
    background-color: #e40046;
    
}

.topSection {
    background-color: #c5003c;
    color:  #fff;
    font-size: small;
    padding: 0 159px;
    z-index: -1;
    height: 100%;
    /* opacity: .13; */
    
}

.scndHead span{
    padding-right: 20px;
}

/* **********************Navbar************************* */

.nav-container {
    padding: 0 150px; 
} 
.navbar-brand {
    margin-right: 80px;
}
.srchBtn {
    background: #333333;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    height: 35px;
    font-weight: 400;
} 
.search-box-wrapper {
    position: absolute;
    background: #e40046;
    color: #333;
    /* border-radius: 2px 0px 0px 2px; */
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.searchFromInput {
    border: 0%;
    width: 600px;
    padding-left: 30px ;
}
.col-xs-20 {
    float: left;
}

.search-box-wrapper input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
} 

.fa-search {
    width: 20px;   
}

.icn {
    color: #fff;
}

.cart {
    border-left: 1px solid #c5003c;
    border-right: 1px solid #c5003c;
}

/* Sign in Dropdown */
.signIn {
   height: 100%;
    border: #333;
   
}

 .signIn:hover {
    background-color: #333;
    /* height: 100px; */
    padding: 0;
    border-radius: 5px;
    border: 0%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 35px;
    background-color: #333;
    width: 200px;
    position: absolute;
    top: 15px;
    right: 0;
    border: 0%;
}

.dropdown-menu a{
    color: #fff;
    font-size: medium;
}

.dropdown-menu li {
    padding: 8px 0 0;
}


.dropdown-divider {
    color: rgb(109, 105, 105);
}

a {
    text-decoration: none;
}

.loginUser {
    color: #d8d8d8;
    cursor: default;
    font-size: 11.4px;
    margin: 0;
    padding: 0;

}

.newUserRegister {
    cursor: pointer;
    color: #fff;
    padding-top: 0;
    margin-top: 0;
}

.loginBtn {
    display: block;
    background-color: #e40046;
    color: #fff;
    
    
}