<!-- <div id="signInBox">
    <div id="loginModal useAuthIcon">
        <ul class="listAuthModal list-unstyled">
            <li class="mngOrder">
                <em class="useAuthIcon"></em>
                <img src="../../assets/locationPin.png" alt="">
                <h4>MANAGE YOUR ORDER</h4>
                <P>Track orders, manage cancellations & returns.</P>
            </li>
            <li>

            </li>
            <li></li>
        </ul>
    </div>
</div> -->

<div>
    <img src="../../assets/Snapdeal.png" alt="">
</div>