* {
    background-color: #f7f7f7;
}
.px-5 {
    padding: 10px 150px 10px 150px !important;
}

@media screen and (max-width:950px){
    .mx-5 {
        margin: 10px 30px 10px 30px !important;
    }
}

.carousel-control-prev-icon:hover {
    background-color: rgb(204, 192, 192);
}

.prod {
    position: absolute;
    top: 350px;
    left:350px;
    width: 100%;
}