<div id="sdFooter">
	<div class="borderBottom">
		<div class="row upperContent-footer">
	 		<a href="https://www.snapdeal.com/page/terms" target="_blank">
	 		<div class="col-xs-6 individualTupple">
	 			<div class="sdIconContainer">
					<i class="paymentIcon footerIconsImg"></i>
				</div>
	 			<div class="tuppleText">
	 				<p class="top-heading">100% Secure Payments</p>
	 				<p class="subText mt12">Moving your card details to a much more </p>
	 				 <p class="subText">secured place</p>
	 			</div>
	 		</div>	
	 		</a>
	 		<a href="https://www.snapdeal.com/page/TrustPay" target="_blank">
	 		<div class="col-xs-6 individualTupple">
		 			<div class="sdIconContainer"><i class="trustpayIcon footerIconsImg"></i></div>
		 			<div class="tuppleText">
		 				<p class="top-heading ">TrustPay</p>
		 				<p class="subText mt12">100% Payment Protection. Easy</p>
		 				 <p class="subText">Return Policy </p>
		 			</div>
		 	</div>		
		 	</a>
	 		<a href="https://www.snapdeal.com/help?redirectFrom=footerstrip" target="_blank">
	 			<div class="col-xs-6 individualTupple">
	 			<div class="sdIconContainer"><i class="customerCareIcon footerIconsImg"></i></div>
	 			<div class="tuppleText">
	 				<p class="top-heading ">Help Center</p>
	 				<p class="subText mt12">Got a question? Look no further.</p>
	 				<p class="subText">Browse our FAQs or submit your query here.</p>
	 			</div>
	 			</div>
	 		</a>
		 	<a href="https://play.google.com/store/apps/details?id=com.snapdeal.main&amp;utm_source=web_footer&amp;utm_campaign=android" target="_blank">
		 			<div class="col-xs-6 individualTupple">
		 			<div class="sdIconContainer"><i class="shoponGoIcon footerIconsImg"></i></div>
		 			<div class="tuppleText">
		 				<p class="top-heading ">Shop on the Go</p>
		 				<p class="subText mt12">Download the app and get exciting</p>
		 				<p class="subText">app only offers at your fingertips</p>
		 			</div>
		 			</div>
		 	</a>
	 	</div>
 	</div>	
 	<div class="middleContent-footer">
 		<div class="middleTop row">
 		<div class="footer-inner">
 		<div class="col-xs-5">
										<div class="middle-heading">Policy Info</div>
										<ul class="middle-content">
											<li><a class="underLineOnHover" href="https://www.snapdeal.com/page/privacy-policy">Privacy Policy</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/page/terms-of-sale">Terms of Sale</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/offers/terms-of-use">Terms of Use</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/page/abusePolicy">Report Abuse &amp; Takedown Policy</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/faq/faqhome">FAQ</a></li>
												</ul>
									</div>
								<div class="col-xs-4">
										<div class="middle-heading">Company</div>
										<ul class="middle-content">
											<li><a class="underLineOnHover" href="https://impactatsnapdeal.com">Impact@Snapdeal</a></li>
												<li><a class="underLineOnHover" href="https://jaspercareers.peoplestrong.com/">Careers</a></li>
												<li><a class="underLineOnHover" href="http://blog.snapdeal.com/">Blog</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/info/sitemap">Sitemap</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/faq/faqCustomerCare">Contact Us</a></li>
												</ul>
									</div>
								<div class="col-xs-4">
										<div class="middle-heading">Snapdeal Business</div>
										<ul class="middle-content">
											<li><a class="underLineOnHover" href="https://play.google.com/store/apps/details?id=com.snapdeal.main&amp;hl=en_IN">Shopping App</a></li>
												<li><a class="underLineOnHover" href="http://sellers.snapdeal.com/">Sell on Snapdeal</a></li>
												<li><a class="underLineOnHover" href="mailto:mediarelations@snapdeal.com">Media Enquiries</a></li>
												</ul>
									</div>
								<div class="col-xs-4">
										<div class="middle-heading">Popular Links</div>
										<ul class="middle-content">
											<li><a class="underLineOnHover" href="https://www.snapdeal.com/products/women-apparel-lehenga">Lehenga</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/products/electronic-headphones-earphones">Headphones</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/products/kids-clothing">Kid's Clothing</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/products/women-apparel-sarees">Sarees</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/products/mens-footwear-casual-shoes">Shoes</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/products/mens-winter-wear-store">Winter Wear</a></li>
												<li><a class="underLineOnHover" href="https://www.snapdeal.com/products/men-apparel-shirts?sort=plrty">Shirt For Men</a></li>
												</ul>
										<i class="originalalityfooterIcon footerIconsImg hide"></i>
									</div>
								<div class="col-xs-6 row">
					<div class="middle-heading subscribeHead">Subscribe</div>
					<input autocomplete="off" name="keyword" type="text" class="col-xs-15 subscribeInputBox" placeholder="Your email address">
					<button class="col-xs-7 btn btn-theme-secondary subscribeBtn reset-padding">Subscribe</button>
					<div class="sucessfulSubscribe hidden">Succesfully Subscribed</div>
					<div class="errorSubscribe hidden">Something went wrong. Please try again!</div>
					<div class="errorSubscribeEmail hidden"> Please enter a valid email address.</div>
					<p class="registerSubscribeText col-xs-24 mt12 reset-padding">Register now to get updates on promotions and </p>
					<p class="registerSubscribeText col-xs-24 reset-padding">coupons. <span><a href="https://play.google.com/store/apps/details?id=com.snapdeal.main">Or Download App</a></span></p>
				</div>
				</div>
 		</div>
 		<div class="middleBottom clearfix">
 		<div class="footer-inner">
			<div class="col-xs-10 middleBottomFooter">
				<p>Payment</p>
					<div class="middleBottomFooterImgs">
					   <i class="visaIcon footerIconsImg"></i>
					   <i class="amexIcon footerIconsImg"></i>
					   <i class="mastercardIcon footerIconsImg"></i>
					   <i class="clubIcon footerIconsImg"></i>
   					   <i class="cashondeliveryIcon footerIconsImg"></i>
					   <i class="neftbankIcon footerIconsImg"></i>
				  </div>
			</div>
			<div class="col-xs-7 middleBottomFooter">
			  		<p>Connect</p>
					<div class="middleBottomFooterImgs footerConnectImgs">
						<a href="https://www.facebook.com/Snapdeal" target="_blank" class="social-link">
							<img src="https://i4.sdlcdn.com/img/footer/facebook@4x.png" alt="Snapdeal Facebook Page" class="social-img">
						</a>
						<a href="https://twitter.com/snapdeal" target="_blank" class="social-link">
							<img src="https://i1.sdlcdn.com/img/footer/twitter@4x.png" alt="Snapdeal Twitter Page" class="social-img">
						</a>
						<a href="https://instagram.com/snapdeal/" target="_blank" class="social-link">
							<img src="https://i4.sdlcdn.com/img/footer/instagram@4x.png" alt="Snapdeal Instagram Page" class="social-img">
						</a>
						<a href="https://www.linkedin.com/company/snapdeal/" target="_blank" class="social-link">
							<img src="https://i2.sdlcdn.com/img/footer/linkedin@4x.png" alt="Snapdeal Linkedin Page" class="social-img">
						</a>
						<a href="https://www.youtube.com/user/snapdeal" target="_blank" class="social-link">
							<img src="https://i1.sdlcdn.com/img/footer/youtube@4x.png" alt="Snapdeal Youtube Page" class="social-img">
						</a>
				  </div>
			   </div>
			   </div>
 			</div>
 	
 	
		<div class="row lowerContent-footer">
				<div class="footer-inner">
				<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com" class="brandLabelFooter">Online Shopping:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mens-footwear">Mens Footwear</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-lehenga">Lehenga</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-dresses">Dresses</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/watches-women">Womens Watches</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-kurtis">Kurtis</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/womens-footwear">Womens Footwear</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-sarees">Sarees</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mens-footwear-casual-shoes">Casual Shoes</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/watches-men">Mens Watches</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/womens-footwear-casual-shoes">Womens Casual Shoes</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/girls-clothing-frocks">Frocks</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-suits">Women Suits</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-tops-tunics">Tops &amp; Tunics</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-dresses/filters/Type_s~Gown">Gowns</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/lifestyle-watches">Watches</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/sports-bicycles">Sports &amp; Bicycles</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/geysers">Water Geysers</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-sports-wear">Men's Sportswear</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/boys-clothing-tshirts">Kids T-shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/watches-kids">Kids Watches</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/stationery-basic-supplies">Stationery Supplies</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/baby-care">Baby Care Products</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/water-bottles/filters/Material_s~Copper">Copper Water Bottles</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/men-apparel" class="brandLabelFooter">Men's Clothing:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-shirts">Shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/casual-shirts">Casual Shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/casual-shirts/filters/Sleeves_s~Full">Full Sleeves Casual Shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/formal-shirts">Formal Shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/formal-shirts/filters/Sleeves_s~Full">Full Sleeves Formal Shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/formal-shirts/filters/Fit_s~Regular%20Fit">Regular Fit Formal Shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-shirts/filters/Fabric_s~100%20Percent%20Cotton">Cotton Shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-tshirts">T Shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-polo-tshirts">Polo T shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-tshirts/filters/Neck_s~V-Neck">V Neck T shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-tshirts/filters/Neck_s~Henley">Henley T shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-tshirts/filters/Wearability_s~Printed">Printed T shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-tshirts/filters/Neck_s~Round">Round Neck T shirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-sweatshirts/filters/NeckShape_s~Hooded">Hooded Sweatshirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-outerwear-jackets">Jackets</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-trousers">Trousers &amp; Chinos</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-jeans/filters/Rise_s~Low-rise">Low Rise Jeans</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-apparel-jeans/filters/Fit_s~Slim">Slim Jeans</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-ethnic-wear-kurta-pyjama-sets/filters/Type_s~Kurta%20Pyjama%20Set">Kurta Payjama Sets</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/men-ethnic-wear-kurta-pyjama-sets/filters/Type_s~Dhoti%20Kurta%20Set">Dhoti Kurta Sets</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/women-apparel" class="brandLabelFooter">Women's Clothing:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-sarees">Saree</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-sarees/filters/Occasion_s~Designer">Designer Saree</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-sarees/filters/Fabric_s~Cotton">Cotton Sarees</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-sarees/filters/Fabric_s~Georgette">Georgette Sarees</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-sarees/filters/Fabric_s~Chiffon">Chiffon Sarees</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-sarees/filters/Fabric_s~Net">Net Sarees</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-suits/filters/Style_s~Anarkali">Anarkali Suits</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-kurtis">Kurtis</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-salwars-churidars">Leggings &amp; Churidars</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-lehenga/filters/Work_s~Embroidered">Embroidered Lehengas</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-dresses/filters/Color_s~Black">Black Dresses</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-trousers-denims/filters/Type_s~Jeggings">Jeggings</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-trousers-denims/filters/Type_s~Jeans">Jeans</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-skirts/filters/Type_s~A-Line%20Skirt">A Line Skirts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-gowns">Women's Gowns</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/women-apparel-dresses">Women's Dresses</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/mobiles-accessories" class="brandLabelFooter">Mobiles Accessories:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-cases-covers">Mobile Covers</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-cases-covers/filters/Material_s~Leather">Leather Mobile Covers</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-printed-back-covers">Printed Back Covers</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-power-banks/filters/Mah_s~10000above">10000mAh Power Banks</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/brand/ambrane/mobiles-power-banks">Ambrane Power Banks</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/fitness-wearable-smartwatches">Smart Watches</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/fitness-band">Fitness Bands</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-screen-guards/filters/Type_s~Tempered%20Glass?sort=plrty">Tempered Glass Mobiles Screen Guards</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-bluetooth">Bluetooth Devices</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/lifestyle-watches" class="brandLabelFooter">Watches:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/watches-men">Mens Watches</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/watches-women">Womens Watches</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/electronic" class="brandLabelFooter">TVs, Audio &amp; Video:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/electronics-speakers">Speakers</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/electronics-headphones">Headphones</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/electronics-earphones">Earphones</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/electronics-home-theatre">Home Theatre Systems</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/home-furnishing" class="brandLabelFooter">Home Furnishing:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/home-kitchen-bed-linen">Bed Linen</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/bed-sheets">Bed Sheets</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/home-kitchen-bath-linen">Bath Linen</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/home-furnishing-mattress-protectors">Mattresses</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/curtains">Curtains</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/cushion-covers">Cushion Covers</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/home-furnishing-pillows-covers">Pillows</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/carpets">Carpets</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-toys-baby-bedding">Kids Bedding</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/computers" class="brandLabelFooter">Computers &amp; Peripherals:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/computers-external-hard-drives">External Hard Disks</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/computers-pen-drives">Pen Drives</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-memory-cards">Memory Cards</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/appliances" class="brandLabelFooter">Appliances:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/appliances-fans">Fans</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/appliances-microwave-ovens-otgs">Mircowaves</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/appliances-iron">Irons</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/trimmers">Trimmers</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/hair-dryers">Hair Dryers</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/kids-toys" class="brandLabelFooter">Toys &amp; Games:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-toys-soft-toys">Soft Toys</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-toys-dolls">Dolls</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-toys-musical">Musical Toys</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-scooters">Kids Skate Scooters</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-toys-electronic-toys">Electronic Toys</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-toys-baby-toys-accessories">Toddler Toys</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-toys-collectible-toys">Die Cast Vehicle</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/kids-toys-ride-ons">Ride Ons &amp; Scooters</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/home-kitchen" class="brandLabelFooter">Home &amp; Kitchen:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/home-kitchen-home-decoratives">Home Decor</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/paintings">Paintings</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/home-kitchen-clocks">Clocks</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/flasks-thermos">Flasks &amp; Thermos</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/home-accents-photo-frames">Photo Frames</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/brand/tupperware/home-kitchen">Tupperware Kitchenware</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com" class="brandLabelFooter">FMCG Offer - Top Brands:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/brand/accuchek/health-monitors-devices">Accu-Chek Health Monitoring Devices</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/brand/nutraj/food-dry-fruits-spices">Nutraj - California Walnuts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/brand/park-avenue/personal-care-grooming">Park Avenue</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/brand/gillette/personal-care-grooming">Gillette</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/brand/kamasutra/personal-care-grooming">KamaSutra</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/mobiles-memory-cards" class="brandLabelFooter">Memory Cards:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-memory-cards/filters/Capacity_s~8%20GB">8 GB Memory Cards</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-memory-cards/filters/Capacity_s~16%20GB">16 GB Memory Cards</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-memory-cards/filters/Capacity_s~32%20GB">32 GB Memory Cards</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/mobiles-memory-cards/filters/Capacity_s~64%20GB">64 GB Memory Cards</a>
											</li>
									</ul>
							</span>
						</div>
					<div class="brandContainerFooter">
							<span class="brandValueFooter">
								<ul class="footerSubCategoriesUl">
									<a href="https://www.snapdeal.com/products/books" class="brandLabelFooter">Books:</a> 
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/books-fiction-literature">Fiction</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/non-fiction-books">Non Fiction</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/books-children-teen">Children &amp; Young Adults</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/books-competitive-exams">Competitive Exams</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/books-school">School Books</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/books-academic-professional">Academic Texts</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/books-reference">Reference</a>
											<span class="slash">/</span></li>
									<li class="footerSubCategory">
											<a href="https://www.snapdeal.com/products/books-self-help">Self Help</a>
											</li>
									</ul>
							</span>
						</div>
					<!-- <p class="footerAboutHeading">About Snapdeal</p> -->
					<div class="footer-text">Snapdeal is India's leading pure-play value Ecommerce platform. Founded in 2010 by Kunal Bahl and Rohit Bansal, Snapdeal is one of the top four online lifestyle shopping destinations of India. 

Snapdeal brings together a wide assortment of good quality and value- priced merchandise on its platform. Snapdeal's vision is to enable the shoppers of Bharat to experience the joy of living their aspirations through reliable, value-for-money shopping. With a personalized, multilingual interface and cutting edge technology, Snapdeal has simplified the shopping experience for its value-conscious buyers by showcasing the most relevant products- products that are a good functional fit with their needs and of a quality that lasts- thereby delivering  true value to its customers. With its commitment to high service standards, Snapdeal suppliers operate under a well structured ecosystem that enables them to offer great quality products at affordable prices.

With majority of the value-seeking, middle-income, price-conscious buyers coming from the non-metros,  Snapdeal’s logistics networks powered by third party logistics cover more than 96% of India’s pin codes enabling order deliveries to more than 2500 towns and cities and expanding. 

Further, Snapdeal's mission is to become India’s value lifestyle omni-channel leader. We are excited about continuing to build a complete ecosystem around value commerce, where we can serve Bharat consumers wherever they are on their offline to online shopping journey.

Snapdeal is part of the AceVector Group and one of India’s best-known e-commerce companies with an exclusive focus on the value segment.</div>
				</div>
			</div>	
		<div class="footerCopyText clearfix">
 			<div class="footer-inner">
				<!--<div class="footer-logo lazy-load" data-bgsrc="https://i1.sdlcdn.com/img/metroUI/footer/footerSdLogo.png"></div>-->
				<div class="lfloat">Copyright © 2021, Snapdeal Limited. All Rights Reserved</div>
				<div class="rfloat heartLine">Made for Bharat<i class="sd-icon sd-icon-like heartIcon"></i> </div>
			</div>
		</div>
	</div>
</div>