* {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #000000;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    border: 0;
    font: inherit;
}

#login-register-modal {
    z-index: 95;
    width: 726px;
    height: 360px;
    border-radius: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: 0 0;
    margin: auto;
    background-repeat: no-repeat;
    background-color: #edf1f4;
    position: absolute;
}
.userAuthIcons {
    background-image: url(../../assets/userAuthSpritev3.png);
    vertical-align: sub;
    display: inline-block;
}

.mngorder .userAuthIcons {
    padding: 0;
    border: 0;
    vertical-align: sub;
    display: inline-block;
    height: 63px;
    width: 65px;
    float: left;
    margin-right: 15px;
    margin-top: -7px;
    background-position: 4px 116px;
}

.mngFont {
    font-size: 75%;
    font-weight: 400;
    opacity: 90%;
    margin-bottom: 2px;
}

.trOrd {
    font-size: 80%;
    opacity: 60%;
    width: 50%;
}
/* .iconEyeHide{background-position:-224px 86px;} */
.shortlistitm .userAuthIcons {
    padding: 0;
    background-image: url("../../assets/userAuthSpritev3.png");
    vertical-align: sub;
    display: inline-block;
    height: 63px;
    width: 65px;
    float: left;
    margin-right: 15px;
    margin-top: -7px;
    background-position: -59px 116px;
}

.offrupdate .userAuthIcons {  
    padding: 0;
    background-image: url("../../assets/userAuthSpritev3.png");
    vertical-align: sub;
    display: inline-block;
    height: 63px;
    width: 65px;
    float: left;
    margin-right: 15px;
    margin-top: -7px;
    background-position: -130px 116px;
}

.userAuth-card {
    vertical-align: baseline;
    width: 340px;
    background: #fff;
    border-radius: 5px;
    padding: 29px;
    padding-top: 25px;
    box-shadow: 0 0 12px 6px rgba(0,0,0,0.05),0 3px 6px rgba(0,0,0,0.15);
    position: fixed;
    top: 50%;
    left: calc(50% - -154px);
    min-height: 405px;
    -webkit-transform: translate(-50%, -50%);
}

.bi-x-lg {
    display: inline !important;
    position: relative;
    left: 20px;
    top: 0px;
    cursor: pointer;
    opacity: 50%;
}
.paraText {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.loginForm input {
    font-size: 13px;
}

.contnuBtn {
    background-color: #e40046;
    display: block;
    color: #fff;
    font-size: small;
    letter-spacing: 0.05rem;
    padding: 10px;
}

.orLogin {
    font-size: small;
    opacity: 50%;
}
.gglBtn{
    padding: 12px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 63, 63, 0.19);
}
.gglText {
    font-size: 13px;
    opacity: 80%;
}
.otpIcon{
    background-position: -250px -365px;
}