
<div style="width:1330px;">
    <div class="row row-cols-6">
        <ng-container *ngFor="let i of productsList">
            <div class="card rounded-0 border-0 col" [routerLink]="['/product', i.productId]">
                <img src="{{i.productImages[0].imageUrl}}" alt="" >
                <h2 class="text-wrap h4">{{i.productName}}</h2>
                <p>Rs. {{i.productPrice}}</p>
                <span class="border" style="width: 80px; height:20px;">37% OFF</span> 
            </div>
            
        </ng-container>
    </div>
</div>
