<div class="top-bar">
    <div class="nav-container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="#">
                    <img src="../../assets/sdLatestLogo.svg" alt="" width="133" height="28">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div class="d-flex search-box-wrapper">
                            <input class="col-xs-20 search-from-input keyword" type="search" placeholder="Search products & brands" autocomplete="off" aria-label="Search">
                            <button class="btn btn-dark my-auto" type="submit"><span><em class="fa fa-search"></em></span>
                                Search</button>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>