<section class="h-50 ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card " >
                    <div class="card-header">
                        <h4>Latest Categories</h4>
                    </div>
                    <table class="table table-striped">
                        <caption></caption>
                        <thead class="position-sticky ">
                         <tr>
                             <th>#</th>
                             <th>Category</th>
                             <th>ParentCategory</th>
                             <th>edit</th>
                             <th>delete</th>
                         </tr>
                        </thead>
                       
                            <tbody>
                                
                                    <tr *ngFor="let item of categories" >
                                        <td>{{item.categoryId}}</td>
                                        <td>{{item.categoryName}}</td>
                                        <td></td>
                                        <td><button type="button" name="button" class="btn btn-outline-info" (click)="editCategry(item)">Edit</button></td>
                                        <td><button type="button" name="button" class="btn btn-outline-info" (click)="deleteCategry(item.categoryId)">Delete</button></td>
                                     </tr>
                                
                                
                            </tbody>
                     
                    </table>
                    <!-- <nav class="ms-4 sticky-bottom" aria-label="" >
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a href="#" class="page-link">Previous</a>
                             </li>
                             <li class="page-item active"><a href="#" class="page-link">1</a></li>
                             
                             <li class="page-item"><a href="#" class="page-link">2</a></li>
                             <li class="page-item"><a href="#" class="page-link">3</a></li>
                             <li class="page-item"><a href="#" class="page-link">Next</a></li>
                        </ul>
                    </nav> -->
                </div>
            </div>
            
        </div>
    </div>
</section>
