/* .footerIconsImg {
    background-image: url("../../assets/footer.png");
    display: inline-block;
    vertical-align: middle;
}

#sdFooter .upperContent-footer .individualTupple .sdIconContainer .paymentIcon, #sdFooter .upperContent-footer .individualTupple .tuppleText .paymentIcon {
    width: 60px;
    height: 51px;
    background-position: -366px -63px;
}
#sdFooter .upperContent-footer .individualTupple i {
    transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
} */